*{
    margin: 0%;
    padding: 0%;
}

   /* 0 to 375  */

   @media (max-width: 900px) {
    body {
      /* background-color: black; */
    }

    .navmenu::before{
        width: 253%;
        height: 250%;
     }
     
     .netflix_img{
        width: 37%;
        height: 56%;
         
     }
     .Heading_Title{
         width: 127%;
         position: absolute;
         font-size: 88px;
         top: 550px;
         left: -256px;
     }
     
     .Heading_Title_2{
         width: 127%;
         position: absolute;
         font-size: 74px;
         top: 761px;
         left: -256px;
     }
     .Heading_p{
     
         position: absolute;        
         left: 148px;
         top: 150%;
         width: 150%;
     }
     
     .Heading_p_title2{
         position: absolute;        
         left: 200px;
         top: 170%;
         font-family: netflix-sans-regular2;
         width: 150%; 
         font-size: 24px;
     }
     #Email::placeholder{
         font-size: 1.5rem;
         text-align: center;
     }
     
     #Email{
        position: absolute;
        top: 202%;
        left: -450px;
        padding: 6px 100px;
        border: 4px solid rgb(0, 0, 0);
        background: black;  
     }
     #Start_Button{
       
         position: absolute;
         display: flex;
         top: 235%;
         justify-content: center;
         align-items: center;
         left: -727px;
         border: 5px solid red;
         width: 50%;
         height: 8.5%;
         text-align: center;
     }
     
     .signinbutton{
        position: absolute;
        left: 192%;
        background: red;
        top: 95px;
        width: 34%;
        height: 5%;
     }
     .signinbutton a{
        font-size: 1rem;
     }

        /* Column 2 */

     
     #Column_2 .Heading_Title{

        position: absolute;
        top: 280%; 
        left: -37%; 
     }


     #Column_2::before {
        content: "";
        width: 252%;
        height: 102%;
        position: absolute;
        background-color: black;
        z-index: -1;
        bottom: -253.8%;
        left: 0%;
        border-bottom: 8 pxsolid #222222;
    }

     #Column_2 p{
         position: absolute;
         top: 290%;
         left: -170px;
         
     }

     .tv_image{

        position: absolute;
        top: 324%;
        left: 30%;
        width: 150%;
     }

     
     /* Column_3 */
     
     
     #Column_3 .Heading_Title{

        position: absolute;
        top: 380%; 
        left: -125%; 
     }


     #Column_3 p{
        position: absolute;
        top: 397%;
        width: 310  px;
        left: -378px;
        
    }

    .tv_image_2{
        position: absolute;
        top: 451%;
        left: 13%;
        width: 150%;
     }

     #Column_3::before {
        content: "";
        width: 252%;
        height: 131%;
        position: absolute;
        background-color: black;
        z-index: -1;
        bottom: -355.8%;
        left: 0%;
        border-bottom: 8 pxsolid #222222;
    }





















     #Column_4{
         display: none;
     }
     #Column_5{
         display: none;
     }
     
     .footer_text{
         display: none;
     }
     #footer{
         display: none;
     }

  }